#aboutme {
    background-color: black;
    padding: 30px 0px 112px;
    color: white;
}
.aboutme__heading {
    text-align: center;
    font-family: 'Inter-Bold';
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
}
.aboutme__warp {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.aboutme__decs {
     max-width: 465px;
} 
.aboutme__h {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;

color: #FFFFFF;
}
.aboutme__p {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
 