.banner {
    background: url(../img/Баннер.png);
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter-Bold", sans-serif;
    flex-direction: column;
    height: 100%;
    gap: 150px;
}

.banner__heading {
    font-family: "Inter-Bold", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}

.banner__btn {
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 24px;
    font-family: "Inter-Bold", sans-serif;
    font-size: 35px;
    line-height: 42px;
}