header {
    background: black;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 72px;
}

.logo {
    font-size: 40px;
    font-family: "Inter-Bold", sans-serif;
    /* font-weight: 700;*/
    color: white;
    text-decoration: none
}

.menu__link {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-family: "Inter-Regular", sans-serif;
    /* font-weight: 400px; */
    transition: 0.3s;
}
